@CHARSET "utf-8";

.navbar-fixed-top {
  /* enable scrolling */
  position: static;
}

canvas.tetris-canvas {
	background-color: #efefef;
    margin: 0px;
}

div.tetris-border {
	border-width: 1px;
	border-color: #cccccc;
	border-style: solid;
	padding: 0px;
  text-align: center;
}
